@import url('https://fonts.googleapis.com/css2?family=Andika&family=Permanent+Marker&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #fcfbfb;
    font-size: 22px;
    font-family: Andika, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*This is the header/nav css*/
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(91, 110, 33, .8);
}
nav {
    display: flex;
    justify-content: space-around;
}
h2 {
    margin: 0;
}
.logo {
    width: 80px;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color: #3c3e3c;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    opacity: .8;
    background-color: #3c3e3c;
    color: #a1d2ce;
}
/*This is the Hero section css*/
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -106px
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Permanent Marker", "Courier New", sans-serif;
}
#hero-img {
    width: 100%;
}
.home-title {
    color: #186c77;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: black;
}
.button-box {
    text-align: center;
}
/*This is the main section css*/
main section {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #3c3e3c;
}
#background {
    height: 725px;
    background-color: #186c77;
    grid-column: 1/11;
    grid-row: 4/9;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}
.card-img {
    width: 100%;
    border: 10px solid rgba(91, 110, 33, 0.85);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #3c3e3c;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.book, .join {
    background-color: #186c77;
    color: beige;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #3c3e3c;
    color: #a1d2ce;
}
.msg {
    background-color: rgba(91, 110, 33, 0.85);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #3c3e3c;
}
.msg h2 {
    color: beige;
    font-family: "Permanent Marker", "Courier New", sans-serif;
    letter-spacing: 2px;
}
.msg p {
    color: beige;
    font-size: .8em;
    padding-bottom: 15px;
}
/*This is the footer section css*/
footer {
    background-color: rgba(91, 110, 33, 0.85);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: beige;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer a:hover {
    background-color: #3c3e3c;
    color: #a1d2ce;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    .p1, .p2, .p5 {
        display: none;
    }
    .q1, .a1, .q2, .a2, .q3, .a3, .q4, .a4, .q5, .a5, .q6, .a6 {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}

/*FAQ specific css*/
.faqheader {
    background-color: rgba(91, 110, 33, 1);
}
#faqtitle{
    text-align: center;
}
.questions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
.q1 {
    grid-column: 1/3;
}
.a1 {
    grid-column: 1/3;
}
.p1 {
    grid-column: 3/5;
    grid-row: 1/3;
    align-self: start;
    justify-self: right;
}
.p1 img {
    border: 10px solid rgba(91, 110, 33, 0.85);
}
.q2 {
    grid-column: 3/5;
}
.a2 {
    grid-column: 3/5;
}
.p2 {
    grid-column: 1/3;
    grid-row: 3/5;
    justify-self: left;
}
.p2 img {
    border: 10px solid rgba(91, 110, 33, 0.85);
}
.q3 {
    grid-column: 1/5;
}
.a3 {
    grid-column: 1/5;
}
.q4 {
    grid-column: 1/5;
}
.a4 {
    grid-column: 1/5;
}
.q5 {
    grid-column: 1/3;
}
.a5 {
    grid-column: 1/3;
}
.p5 {
    grid-column: 3/5;
    grid-row: 9/11;
    justify-self: right;
}
.p5 img {
    border: 10px solid rgba(91, 110, 33, 0.85);
}
.q6 {
    grid-column: 1/5;
}
.a6 {
    grid-column: 1/5;
}
.p6 img {
    box-sizing: border-box;
    border: 10px solid rgba(91, 110, 33, 0.85);
    width: 100%
}